<% if signed_in? && current_user.admin==true %>
 


 <div class="row">
    <aside class="span3">

      <% provide(:title, "Main Menu") %>

   <div style="white-space: nowrap">
   <h2> Welcome, <%= current_user.name %></h2>
   
   <ul class="nav nav-list">

  <li class="nav-header">Welcome!</li>
  <li class="active"><%= link_to "Time and Attendance", timemenu_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Absence Management", absences_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Project Planner", projects_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Add Employee Account", signup_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Manage Skills", skills_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "View Employee Records", select_employee_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Message Centre", private_messages_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <%#= link_to "Time and Attendance", timemenu_path , class: "btn btn-info btn-small" %>

  </ul>
</div>
</aside>
<aside class="span16">
  <%unless @notice == nil%>
 <%=bootstrap_form_for @notice do |f|%>
 <%=f.text_area :content, :placeholder => Noticeboard.last.content.to_s, :rows=>18, :cols=>30, label: "Noticeboard" %>

 <%= f.actions do %>

      <%= f.submit "Update", class: "btn", disable_with: 'Updating...' %>
     
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <% end %>
 <%#=f.submit "Update", class: "btn", disable_with: 'Updating...'  %>
 <%end%>

 <%else%>

 There are no projects running late.
 <%end%>
</aside>

<aside class="span22">
    <div class="scroll">
 <%#=collection_select(:group, :id, @project, :id, :title, {}, :multiple => true, :size => 6)%>
  <%= render @project%>
  <%#@project.each do |f|%>
 <%#if project_alerts f %>
</div>



<%#= f.title%>
<%#= link_to "See in detail", f %>
<%#end%>

 <%#end%>
<%#= will_paginate @project, :previous_label => t("<-"), :next_label => t("->") %>
      <%#= page_entries_info @project %>

 <%#= will_paginate(@project) %>
<%#= pageless(@project.total_pages, root_path, "#results") %>
<style>#results {height:400px;overflow:auto;}</style>



</body>
 <%#= will_paginate @project, :previous_label => t("<-"), :next_label => t("->") %>
      <%#= page_entries_info @project %>
</aside>





</div>
  </div>

<% elsif signed_in? && current_user.admin==false %>


<div class="row">
    <aside class="span4">

      <% provide(:title, "Main Menu") %>

   <div style="white-space: nowrap">
   <h2> Welcome, <%= current_user.name %></h2>
   <ul class="nav nav-list">

  <li class="nav-header">Welcome!</li>
  <li class="active"><%= link_to "Message Center", private_messages_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "Time And Attendance", timemenu_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
  <li class="active"><%= link_to "View Record", current_user , {:style=>'color:#303030;', :class => "btn"} %></li></br>
 

  </ul>
</div>
</aside>
<aside class="span16">
 <div class="well">
     <%=simple_format(Noticeboard.last.content.to_s)%>
   </div>
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <%# end %>
 <%#=f.submit "Update", class: "btn", disable_with: 'Updating...'  %>
 <%#end%>
</aside>




</div>
  </div>




<%#= link_to "Message Centre", private_messages_path , class: "btn btn-info btn-small" %></br></br>
<%#= link_to "Time and Attendance", timemenu_path , class: "btn btn-info btn-small" %></br></br>
<%#= link_to "View Record", current_user , class: "btn btn-info btn-small" %></br></br>

<%#=text_area :notice, content: => ("#{Noticeboard.last.content.to_s}")%>


<%else%>
  <div class="center hero-unit">
    <h1>Welcome to the Human Resource Support System</h1>

    <div class="row">
    <aside class="span4">

      <% provide(:title, "Home Page") %>

  
   <ul class="nav nav-list">

  <li class="nav-header">Welcome!</li>
  <li class="active"><%= link_to "Sign In Here", signin_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>
   <li class="active"><%#= link_to "Time and Attendance", signup_path , {:style=>'color:#303030;', :class => "btn"} %></li></br>


    <%#= link_to "Sign in here", signin_path, 
                                class: "btn btn-large btn-primary" %>
<%#= link_to "Add Employee Account", signup_path , class: "btn btn-info btn-small" %></br></br>
                                
  </div>











<% end %> 