<% if signed_in? && @current_user.admin==true %>
  <div class="row">
    <aside class="span4">

      <% provide(:title, "Main Menu") %>
<div class="row">
   <div style="white-space: nowrap">
   <h3> Welcome <%= @current_user.name %></h3>

<%= link_to "Time and Attendance", timemenu_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "Absence Management", absences_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "Project Planner", projects_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "Add Employee Account", signup_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "Manage Skills", skills_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "View Employee Records", root_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "Message Centre", private_messages_path , class: "btn btn-info btn-small" %>

  
</div>

<% elsif signed_in? && current_user.admin==false %>

<h3> Welcome <%= @current_user.name %></h3>
<%= link_to "Message Centre", private_messages_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "Time and Attendance", timemenu_path , class: "btn btn-info btn-small" %></br></br>
<%= link_to "View Record", current_user , class: "btn btn-info btn-small" %></br></br>



<%else%>
  <div class="center hero-unit">
    <h1>Welcome to the Human Resource Support System</h1>


    <%= link_to "Sign in here", signin_path, 
                                class: "btn btn-large btn-primary" %>
<%= link_to "Add Employee Account", signup_path , class: "btn btn-info btn-small" %></br></br>
                                
  </div>

<% end %> 