<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%#= f.submit "Sign in", class: "btn" %>

       <%#= f.actions do %>

      <%= f.submit "Sign in", class: "btn" %>
     
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <%# end %>

    <% end %>

    
  </div>
</div>