<% provide(:title, 'Task') %>
 <div class="row">
   <aside class="span3">
     <section>

 <div class="well">
<b>Title:</b><%= @task.title %></br>
<b>Start date:</b><%= @task.start_date.to_date %></br>
<b>End date:</b><%= @task.end_date.to_date %></br>
<b>Description:</b> <%= @task.description %></br>
<b>Belongs to project:</b>  <%=@task.project.title%></br>
<b>Estimated hours:</b> <%= @task.estimated_hours %></br>
<b>Total hours spent so far:</b> <%= @g%> hours </br>
<b>Time left:</b><%= distance_of_time_in_words(@task.end_date.to_datetime, DateTime.now)%></br>
</div>
<% @g = 0%>
<% @task.time_and_attendances.each do |f| %>
<% @g += f.hours_worked %>
<%end%>

</section>
</aside>

 <aside class="span8">
     <section>


<b>Time and Attendance Records for this task:</b>
<div class="scroll">
<% @task.time_and_attendances.each do |f| %>
<div class="well">
	<%@user = User.find_by_id(f.user_id)%>
<b>Employee Name:</b> <%= @user.name %></br>
<b>Hours Worked:</b> <%= f.hours_worked %></br>
<b>Date:</b> <%= f.date.to_date %></br>
<%= link_to "See Record Details", f %>
</div>
<%end%>

  </div>  </div>
</div>
