<% provide(:title, 'Select Employee') %>

<div class="row">
  <aside class="span3">
    <section>
  
    <%= bootstrap_form_for(@user) do |f| %>
   

    <%#= f.label :Personnel_Number %>
      <%= f.text_field :personnel_number %>
      
      <%#= f.label :name %>
      <%= f.text_field :name %>

      <%#= f.label :email %>
      <%= f.text_field :email, label: 'E-mail' %>

      <%#= f.label :Address %>
      <%= f.text_field :address %>
      <%#= f.label :Telephone %>
      <%= f.text_field :telephone%>

   
      <%#= f.label :DOB %>
      <%#= f.text_field :date_of_birth %>
      <%= f.text_field :date_of_birth, 'data-behaviour' => 'datepicker',:readonly => true, :autoclose => true%>
        </section>
  </aside>
  <aside class="span16">
    <section>
          
     
      <%= f.text_field :commencement, 'data-behaviour' => 'datepicker',:readonly => true %>
     
      <%= f.text_field :insurance %>
           
      <%= f.text_field :grade %>
       
      <%= f.text_field :division %>

       <%= f.text_field :salary_scale %>

      <%= f.check_box :admin, label: "Manager?" %>

      <%= f.select(:sex, ["male","female"]) %>
        </section>
  </aside>
  <aside class="span20">
    <section>
  
   
     

      <%= f.password_field :password, :cols => "5", :rows => "5"  %>

      <%#= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, :cols => "5", :rows => "5"  %>
     
       <%= f.actions do %>

      <%= f.submit "Update details", class: "btn", disable_with: 'Updating...' %>
      <% end %>
         <div class="scroll">
 <%= render 'shared/error_messages', object: f.object %>
 </div>
        </section>
  </aside>
  <aside class="span2">
    <section>
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  



    <% end %>
  </section>
  </aside>
  </div>  </div>
</div>
