<% provide(:title, 'Create account') %>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker()
</script>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= bootstrap_form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %> 

    <%#= f.label :Personnel_Number %>
      <%= f.text_field :personnel_number %>
      
      <%#= f.label :name %>
      <%= f.text_field :name %>

      <%#= f.label :email %>
      <%= f.text_field :email, label: 'E-mail' %>

      <%#= f.label :Address %>
      <%= f.text_field :address %>
      <%#= f.label :Telephone %>
      <%= f.text_field :telephone%>
      <%#= f.label :DOB %>
      <%#= f.text_field :date_of_birth %>
      <%= f.text_field :date_of_birth, 'data-behaviour' => 'datepicker',:readonly => true, :autoclose => true%>
      <%#= f.label :Gender %>
      <%= f.select(:sex, ["male","female"]) %>
     <%#text_field :sex %>
      <%#= f.label :Commencement %>
      <%#= f.text_field :commencement %>
      <%= f.text_field :commencement, 'data-behaviour' => 'datepicker',:readonly => true %>
      <%#= f.label :Termination %>
      <%= f.text_field :termination %>
      <%#= f.label :Insurance %>
      <%= f.text_field :insurance %>
      <%#= f.label :Grade %>
      <%= f.text_field :grade %>
      <%#= f.label :Centre %>
      <%= f.text_field :centre %>
      <%#= f.label :Post %>
      <%= f.text_field :post %>
      <%#= f.label :Division %>
      <%= f.text_field :division %>
      <%#= f.label :Location %>
      <%= f.text_field :location %>
      <%#= f.label :Salary_Scale %>
      <%= f.text_field :salary_scale %>
      <%#= f.label :Pay_Center %>
      <%= f.text_field :pay_center %>
      <%#= f.label :Admin? %>
      <%= f.check_box :admin, label: "Admin?" %></br>
      <%#= f.label :password %>
      <%= f.password_field :password %>

      <%#= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
       <%=f.hidden_field :company_id, :value => current_user.company_id%>

       <%= f.actions do %>

      <%= f.submit "Create this account", class: "btn", disable_with: 'Saving...' %>
     
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <% end %>



    <% end %>
  </div>
</div>
