<% provide(:title, @user.name) %>
 <div class="well">
<div class="row">
  <aside class="span4">
    <section>
     
       
        <%#= gravatar_for @user %>
  <h5>Name:</h5><%=@user.name %></br></br>
  <h5>Email:</h5><%=@user.email%></br></br>
  <h5>Personnel Number:</h5><%= @user.personnel_number %></br></br>
  <h5>Address:</h5><%= @user.address %></br></br>
  <h5>Telephone:</h5><%=@user.telephone%></br></br>
  <h5>Date Of Birth:</h5><%= @user.date_of_birth %></br></br>
  
  </section>
  </aside>
  <aside class="span16">
    <section>
      <h5>Sex:</h5><%= @user.sex %></br></br>
  <h5>Commencement:</h5><%=@user.commencement%></br></br>
  <h5>Insurance:</h5><%= @user.insurance %></br></br>
  <h5>Grade:</h5><%=@user.grade%></br></br>
  <h5>Division:</h5><%=@user.division%></br></br>
  <h5>Salary Scale:</h5><%= @user.salary_scale %></br></br>
 
      </div>
    </section>
  </aside>
   <div class="span8">
     
    
  </div>
</div>



