<% provide(:title, 'Send a Private Message') %>
<h1>Enter details below:</h1>

<div class="row">
  <div class="span6 offset2">
<%unless @users.empty?%>
    <%= form_for(@private, :html => { :class => "navbar-form pull-left" }) do |f|   %>
    
    <%#= form_for(@private, :html => { :style => 'background-color:red;' }) do |f| %>
<%#= render 'shared/error_messages' %> 
     <div style="white-space: nowrap">
      <form class="navbar-search pull-left">
      <%= f.label :To %>
      <%#= f.text_field :receiver %>
      <%= select_tag :receiver, options_for_select(@users) %> </br>
      <%= f.label :Title %>
      <%= f.text_field :title %>
      <%= f.label :Content %>
      <%= f.text_area :content, :cols => "30", :rows => "10"  %>
      <%=f.hidden_field :date, :value => DateTime.now%>
      <%=f.hidden_field :sender, :value => current_user.id%>
     
      <%= f.submit "Send Message", class: "btn btn-large btn-primary" %>
      <%end%>
      <%else%>
There are no other employees that you can send private messages to.


      <%end%>
      </div>
    </div>
 </div>
