<% provide(:title, 'Send a Private Message') %>
<h2>Send Private Message</h2>

<div class="row">
   
   <aside class="span3">
    <section>
      <%unless @users.empty?%>
    <%= bootstrap_form_for(@private) do |f|   %>
<%= render 'shared/error_messages', object: f.object  %> 
      </section>
  </aside>


  <aside class="span3">
     <section>  
      <%= f.select :receiver, options_for_select(@users), label: 'Recipient'  %> 
      <%= f.text_field :title, :size => "3x1" %>
      <%= f.text_area :content, :cols => "30", :rows => "10"  %>
      <%= f.hidden_field :date, :value => DateTime.now%>
      <%= f.hidden_field :sender, :value => current_user.id%>
      <%= f.hidden_field :company_id, :value => current_user.company_id%>
       </section>
  </aside>

  <aside class="span3">
    <section>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
      <%= f.actions do %>
      <%= f.submit "Send Message", class: "btn", disable_with: 'Sending...' %>
     
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <% end %>

      <%end%>
      <%else%>
There are no other employees that you can send private messages to.


      <%end%>
      </div>
    </div>
 </div>
 