<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1></h1>
      	<div style="white-space: nowrap">
        <%= form_for @project do |f| %>
<%= render 'shared/error_messages', object: f.object  %> 
     
      <%= f.label :Title %>
      <%= f.text_field :title %>
      <%= f.label :Date_Started %>
      <%= f.text_field :date_started %>
      <%= f.label :Date_Ended %>
      <%= f.text_field :date_ended %>
      
      <%= form_tag("/projectstask") do %>
  <%= label_tag(:q, "Number of tasks:") %>
  <%= text_field_tag(:q )%>
  <%#= submit_tag("Continue") %>
      
      </br>
      <%= f.submit "Create Project", class: "btn btn-large btn-primary"%>
<%end%>
       <%#,:controller => :static_pages :action => :menu%>
      </div>
      <%end%>
    </section>
  </aside>
</div>



