<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
  
        <div style="white-space: nowrap">
              <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker()
</script>

        <%= form_for @project do |f| %>
<%#= render 'shared/error_messages' %> 
     
      <%= f.label :Title %>
      <%= f.text_field :title %>

      <%= f.label :Date_Started %>
      <%= f.text_field :date_started, 'data-behaviour' => 'datepicker',:readonly => true  %>

      <%= f.label :Date_Ended %>
      <%= f.text_field :date_ended, 'data-behaviour' => 'datepicker',:readonly => true  %>

      <%= f.label :Estimated_Hours %>
      <%= f.text_field :estimated_hours %>
      <%#= f.label :Number_Of_Tasks%>
      <%#= f.text_field :number_of_tasks %>
      <%#= form_tag("/absenceadd") do %>
  <%#= label_tag(:q, "Number of tasks:") %>
  <%#= text_field_tag(:q )%>
  <%#= submit_tag("Continue") %>
      
      </br>
      <%= f.submit "Update Project", class: "btn btn-large btn-primary"%>
<%end%>



  
 



              </div>
    
    </section>
  </aside>
</div>