<% provide(:title, "Overview") %>

<h3>Overview </h3>
      <ol>
        <% @project.each do |f|  %>
          <div class="well">
        <b>Title:</b><%=f.title%></br>
        <b>Start Date:</b><%= f.date_started.to_date%></br>
        <b>End Date:</b><%= f.date_ended.to_date%></br>
        <b>Estimated Hours:</b><%= f.estimated_hours%></br>
        <%= link_to "See Detail", f%>
        </br></br>
    </div>
        <%end%>
      </ol>