<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1></h1>
        <div style="white-space: nowrap">
      
<%= form_tag(plan_task_display_month_path) do %>
  <%= label_tag(:x, "Task:") %></br>
  <%= select_tag :x, options_for_select(@tasks_for_menu) %> </br>
<%= select_month(Date.today, :z=>"dateStarted") %></br>
<%= select_year(Date.today, :y=>"dateStarted") %></br></br>

  <%= submit_tag "Continue", :class => "btn" %>
   <%end%>   
</div>
       
      </div>
      <%#end%>
    </section>
  </aside>
</div>