<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1></h1>
        <div style="white-space: nowrap">
      
<%= form_tag(plan_project_display_year_path) do %>
  <%= label_tag(:x, "Task:") %>
  <%#= text_field_tag(:x )%></br>
  <%= select_tag :x, options_for_select(@tasks_for_menu) %> </br>
<%#= select_month(Date.today, :z=>"dateStarted") %></br>
<%= select_year(Date.today, :y=>"dateStarted") %></br>
<%#=select_date() :y%></br>

<%#=date_select ("dateRange","dateStarted", {:default => Date.today, :discard_day => true})%>
<%#=date_select("dateRange","dateEnded", {:default => Date.today, :discard_day => true})%>

   <%#= label_tag(:y, "Year:") %>
  <%#= text_field_tag(:y )%></br>
   <%#= label_tag(:z, "Month:") %>
  <%#= text_field_tag(:z )%></br>
  <%= submit_tag("Continue") %>
   <%end%>   

       
      </div>
      <%#end%>
    </section>
  </aside>
</div>