<%# require 'rubygems' %>
<%# require 'gchart' %>
<%#require 'google_chart'%>
<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>

<% if @project.tasks.any? %>
<%#=@days_passed.to_i%>
<%#=@project.date_started%>
<%#=@project.date_ended%>
<%#=@percentage_of_time_passed%>
<%#=@work_percentage%>
<%#=@project_hours_worked.to_i%>

    Project ID:  <%= @project.id%></br>
  Title:  <%= @project.title%></br>
Start Date:<%= @project.date_started.to_date%></br>
End Date:<%= @project.date_ended.to_date%></br>
Estimated Hours:<%= @project.estimated_hours%></br>
EST: <%=@EST%></br>


Time left:<%= distance_of_time_in_words(@project.date_ended.to_datetime, DateTime.now)%></br>

<%@b = 0%>
<% @project.time_and_attendances.each do |f| %>
<%# f.tasks.each do |g| %>
<%# f.time_and_attendances.each do |j| %>
<% @b += f.hours_worked%>
<%#end%>
<%#end%>
<%end%>

Total hours worked: <%= @b%>
</br></br></br>
<ol>
<% @projects_tasks_pagination.each do |f| %>
Title: <%= f.title %></br>
Start date: <%= f.start_date %></br>
End date: <%= f.end_date %></br>
Description: <%= f.description %></br>
<%= link_to "See Task Details", f %></br></br>
<%end%>
</ol>





 <%= will_paginate @projects_tasks_pagination, :previous_label => t("<-"), :next_label => t("->") %>
      <%= page_entries_info @projects_tasks_pagination %>

Percentage of time :<%=@percentage_of_time_passed%>%</br></br>
Percentage of work : <%=@work_percentage %>
   </br></br></br>
     Time passed :<%=(@project.date_ended.to_date - @project.date_started.to_date).to_i%>

</br></br>
<%= (Date.today - @project.date_started.to_date).to_i %>
</br></br>
today<%=@today%>
</br></br>
     <%= number_to_percentage((Date.today - @project.date_started.to_date).to_f / (@project.date_ended.to_date - @project.date_started.to_date).to_f)%>

    </br></br> 


                     <img src="<%=Gchart.bar(:title => "#{@percentage_of_time_passed.to_i} %", :data => [[ @days_passed.to_f, 0],[0, @total_days.to_f]], :legend => ['Days Passed', 'Total days'], :labels => [@days_passed.to_i, @total_days.to_i], :bar_colors => ['3300CC','3399FF'])%>"/>



             <img src="<%=Gchart.bar(:title => "#{@work_percentage.to_i} %", :data => [[@project_hours_worked.to_f, 0],[0, @project.estimated_hours.to_f]], :legend => ['Hours Done', 'Estimated Hours'], :labels => [@project_hours_worked.to_i,@project.estimated_hours.to_i], :bar_colors => ['3300CC','3399FF'])%>"/>






</br></br></br></br></br>
<img src="<%=Gchart.meter(:size => '450x300', :title => "Progress on workload", :labels => "#{@work_percentage.to_f.round(2)}", :data => [@project_hours_worked.to_i], :max_value => @project.estimated_hours.to_i )%>"/>
</br></br></br></br></br>
<img src="<%=Gchart.meter(:size => '450x300', :title => "Time passed", :labels => "#{@percentage_of_time_passed.to_f.round(2)}", :data => [@days_passed.to_i], :max_value => @total_days.to_i )%>"/>

    </br></br></br></br>

      

      
<%else%>

No tasks have been added to this project.

<%end%>



    </section>
  </aside>
</div>

