<%# require 'rubygems' %>
<%# require 'gchart' %>
<%#require 'google_chart'%>
<% provide(:title, "Project") %>


<% if @project.tasks.any? %>
<%#=@days_passed.to_i%>
<%#=@project.date_started%>
<%#=@project.date_ended%>
<%#=@percentage_of_time_passed%>
<%#=@work_percentage%>
<%#=@project_hours_worked.to_i%>
<%@b = 0%>
<% @project.time_and_attendances.each do |f| %>
<%# f.tasks.each do |g| %>
<%# f.time_and_attendances.each do |j| %>
<% @b += f.hours_worked%>
<%#end%>
<%#end%>
<%end%>

<div class="row">
   <aside class="span3">
     <section>
 <div class="well">
        <b>Title:</b><%=@project.title%></br>
        <b>Start Date:</b><%= @project.date_started.to_date%></br>
        <b>End Date:</b><%= @project.date_ended.to_date%></br>
        <b>Estimated Hours:</b> <%=@EST%></br>
        <b>Time left:</b><%= distance_of_time_in_words(@project.date_ended.to_datetime, DateTime.now)%></br>
        <b>Total hours worked:</b><%= @b%>
 </div>

    
<div class="well">
   <b>Users:</b></br>
   <div class="smallscroll">
    <%if @project.tasks%>
    <%@project.tasks.each do |task|%>
    <%if task.users%>
     <%task.users.each do |user|%>
     <%=user.name%></br>
 </div></div>
 <%end%><%end%><%end%><%end%>


 <div class="well">
    <b>Skills:</b></br>
    <div class="smallscroll">
     <%if @project.tasks%>
    <%@project.tasks.each do |task|%>
    <%if task.skills%>
     <%task.skills.each do |skill|%>
     <%=skill.skill_type%></br>
 </div></div>
 <%end%><%end%><%end%><%end%>

    </section>
  </aside>
<aside class="span5">
    <section>



<h3>Tasks</h3>
<ol>  <div class="scroll">
<% @projects_tasks_pagination.each do |f| %>
<div class="well">
<b>Title:</b><%= f.title %></br>
<b>Start date:</b><%= f.start_date.to_date %></br>
<b>End date:</b><%= f.end_date.to_date %></br>
<b>Description:</b><%= f.description %></br>
<%= link_to "See Task Details", f %></br></br>
</div>
<%end%> </div>
</ol>


 

 <%#= will_paginate @projects_tasks_pagination, :previous_label => t("<-"), :next_label => t("->") %>
      <%#= page_entries_info @projects_tasks_pagination %>

<%#=@percentage_of_time_passed%>
<%#=@work_percentage %>

<%#=(@project.date_ended.to_date - @project.date_started.to_date).to_i%>

<%#= (Date.today - @project.date_started.to_date).to_i %>

<%#=@today%>

     <%#= number_to_percentage((Date.today - @project.date_started.to_date).to_f / (@project.date_ended.to_date - @project.date_started.to_date).to_f)%> 

   
     </section>
</aside>
   
      
<aside class="span4">
    <section>

</br>
<img src="<%=Gchart.meter(:size => '300x150', :title => "Progress on workload", :labels => "#{@work_percentage.to_f.round(2)}", :data => [@b.to_i], :max_value => @EST.to_i )%>"/>
</br></br>
<img src="<%=Gchart.meter(:size => '300x150', :title => "Time passed", :labels => "#{@percentage_of_time_passed.to_f.round(2)}", :data => [@days_passed.to_i], :max_value => @total_days.to_i )%>"/>
</section> 
 </aside>
    
    </br>

    

      
<%else%>

No tasks have been added to this project.

<%end%>



    </section>
  </aside>
</div>

<img src="<%#=Gchart.bar(:title => "#{@percentage_of_time_passed.to_i} %", :data => [[ @days_passed.to_f, 0],[0, @total_days.to_f]], :legend => ['Days Passed', 'Total days'], :labels => [@days_passed.to_i, @total_days.to_i], :bar_colors => ['3300CC','3399FF'])%>"/>
             <img src="<%#=Gchart.bar(:title => "#{@work_percentage.to_i} %", :data => [[@project_hours_worked.to_f, 0],[0, @EST.to_f]], :legend => ['Hours Done', 'Estimated Hours'], :labels => [@project_hours_worked.to_i,@EST.to_i], :bar_colors => ['3300CC','3399FF'])%>"/>