<%# require 'rubygems' %>
<%# require 'gchart' %>
<%#require 'google_chart'%>
<% provide(:title, "Project") %>
<div class="row">
  <aside class="span4">
    <section>

<img src="<%=Gchart.bar(  :size => '300x300', 
              :title => "example title",
              :bg => 'efefef',
              :legend => ['Hours Done', 'Estimated Hours'], :bar_colors => '3300CC,3399FF',
              :data => [10, 30, 120, 45, 72])%>"/>

              graph<img src="<%=Gchart.bar(:data => [@b.to_f, @project.estimated_hours.to_f], :legend => ['Hours Done', 'Estimated Hours'], :bar_colors => ['3300CC','3399FF'])%>"/>

              <%#:max_value => 1000,%>
<%= @fraction%>


:data => [0, 40, 10, 70, 20],   :title => 'keynote', :theme => :keynote)%>
      <%# Gchart.line(:data => [0, 40, 10, 70, 20])%>
 <img src="<%=Gchart.bar(:data => [[@fraction,@project.estimated_hours],[@fraction,@project.estimated_hours]])%>"/>   
<img src="<%=Gchart.bar(:data => [[1,2,4,67,100,41,234],[45,23,67,12,67,300, 250]])%>"/>
<%#= Gchart.bar('800x200', "Bar Chart", :vertical, false) do |bc|
      bc.data "Trend 1", [5,4,3,1,3,5], '0000ff'
      bc.data "Trend 2", [1,2,3,4,5,6], 'ff0000'
      bc.data "Trend 3", [6,5,4,4,5,6], '00ff00'
      puts "\nBar Chart"
      puts bc.to_url
    end

    %>
Percentage of time :<%=@fraction %>%</br></br>
Percentage of work : <%=@tt%>
   </br></br></br>
     Time passed :<%=(@project.date_ended.to_date - @project.date_started.to_date).to_i%>

</br></br>
<%= (Date.today - @project.date_started.to_date).to_i %>
</br></br>
today<%=@today%>
</br></br>
     <%= number_to_percentage((Date.today - @project.date_started.to_date).to_f / (@project.date_ended.to_date - @project.date_started.to_date).to_f)%>
      

      </br></br></br></br>

      


    </br>
      <%= @project.id%></br>
<%= @project.date_started.to_date%></br>
<%= @project.date_ended.to_date%></br>
<%= @project.title%></br>
<%= @project.estimated_hours%></br>
<%= @project.current_hours%></br>
#readable_inspect
#distance_of_time_in_words
Time left:<%= distance_of_time_in_words(@project.date_ended.to_datetime, DateTime.now)%></br>

<%@b = 0%>
<% @project.time_and_attendances.each do |f| %>
<%# f.tasks.each do |g| %>
<%# f.time_and_attendances.each do |j| %>
<% @b += f.hours_worked%>
<%#end%>
<%#end%>
<%end%>

Total time spent: <%= @b%>
</br></br></br>

<% @project.tasks.each do |f| %>
Title: <%= f.title %>
Start date: <%= f.start_date %>
End date: <%= f.end_date %>
Description: <%= f.description %>
<%= link_to "See Task Details", f %>
<%end%>



    </section>
  </aside>
</div>

