<% provide(:title, 'Add Time and Attendance Record') %>
<h2>Time and Attendance:</h2>
<div class="row">
  <div class="span6 offset2">
    <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker()
</script>

<%#= javascript_include_tag "application" %>

<%unless @task.empty?%>
    <%= bootstrap_form_for @timeandattendance do |f| %>
<%= render 'shared/error_messages', object: f.object  %> 
     <div style="white-space: nowrap">
      <%#= f.label :Date %>
      <%= f.text_field :date, 'data-behaviour' => 'datepicker',:readonly => true %>

     <%# :value=>Date.today.strftime('%m-%d-%Y'), :id =>"dp5"%>  
      <%#:name_of_the_date_column, :value=>Date.today.strftime('%m-%d-%Y'), :id =>"dp5"%> 
      <%#text_field :date, :input_html => { data: {behaviour: "datepicker"}} %> 

      <%#= f.label :Hours_Worked %>
      <%= f.text_field :hours_worked %>
      <%#= f.label :Project_Id %>
      <%#= f.text_field :project_id %>

      <%# hidden_field :project_id, :value => (Task.find_by_id(:task_id)).project_id %>
      <%#= f.label :Task_Id %>

        <%= f.select :task_id, options_for_select(@task), label: 'Task' %> 
        
      <%#=f.select( "task_id", @task.collect {|r| [ r.title, r.id ] }, { :include_blank => true })%>
      <%#= f.collection_select @Task %>
      <%#= f.text_field :task_id %>
      <%= f.hidden_field :user_id, :value => @selected_user%>
      <%=f.hidden_field :company_id, :value => current_user.company_id%>
      
      <%= f.actions do %>
      <%= f.submit "Add Record", class: "btn", disable_with: 'Saving...' %>
     
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <% end %>

      <%#= f.submit "Add Record", class: "btn" %></br>

   <% end %> 


   <%else%>

<h2>This user has no tasks</h2>

    <% end %>
   <%#= link_to "Add Record", root_path, class: "btn btn-large btn-primary"   data-behaviour='datepicker'   %>

  </div>  </div>
</div>
