<% provide(:title, 'Edit Time and Attendance Record') %>
<h2>Edit Time and Attendance Record:</h2>
<script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker()
</script>
<div class="row">
  <div class="span6 offset2">
    <%= bootstrap_form_for(TimeAndAttendance.find(params[:format])) do |f| %>
<%#= render 'shared/error_messages' %> 
     <div style="white-space: nowrap">
     
      <%= f.text_field :date, 'data-behaviour' => 'datepicker',:readonly => true, :autoclose => true%>
      <%= f.text_field :hours_worked %>
      <%= f.text_field :task_id %>
      <%= f.text_field :project_id %>
 
      <%= f.actions do %>
      <%= f.submit "Update Record", class: "btn",  disable_with: 'Updating...' %>
      <% end %>    
    <%#= f.primary 'Create My Account', disable_with: 'Saving...' %>
  <% end %>

  </div>  </div>
</div>
