
  <span class="timestamp">
    <div class="well">
      <b>Start Date:</b> <%=absence.date.to_date%></br>
      <b>End Date:</b> <%=absence.date_ended.to_date%></br>
      <b>Reason:</b> <%=absence.reason%></br>
      <b>Form:</b> <%=absence.form%></br>
       
  
      <%= link_to "delete", absence, method: :delete,
                                     data: { confirm: "Are you sure that you want to delete this record?" }
                                      %>
      </div>
     </span>
  <%# end %>
