<li>
  <span class="timestamp">
      ID: <%=absence.id%></br>
      Date: <%=absence.date.to_date%></br>
      Status <%=absence.status%></br>
      Reason: <%=absence.reason%></br>
      Form: <%=absence.form%></br>
       
  
      <%= link_to "delete", absence, method: :delete,
                                     data: { confirm: "Are you sure that you want to delete this record?" }
                                      %>
     </span>
  <%# end %>
</li>