<% provide(:title, 'Add an Absence Record') %>
<h1>Enter details below:</h1>

<div class="row">
  <div class="span6 offset2">
     <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker()
</script>


    <%= form_for @absence do |f| %>
<%#= render 'shared/error_messages' %> 
     <div style="white-space: nowrap">
      <%= f.label :Date %>
      <%#= f.text_field :date %>
      <%= f.text_field :date, 'data-behaviour' => 'datepicker',:readonly => true %>


      <%= f.label :Status %>
      <%= f.text_field :status %>
      <%= f.label :Reason %>
      <%= f.text_field :reason %>
      <%= f.label :Type_of_Absence%>
      <%= f.select :form, [['Authorized','authorized'],['Illness','illness'],['Holiday','holiday']] %>
      <%=f.hidden_field :user_id, :value => @current_emp%>
     
      </br>
      <%= f.submit "Add Absence Record", class: "btn btn-large btn-primary" %>
      <%end%>
      </div>
    </div>
 </div>
