<% provide(:title, 'Absence Management') %>


<div class="row">
  <div class="span2">
        
<%unless @available_employees == nil || @employees == nil || @employees.empty? || @available_employees.empty? %> 


<caption><b>Fill Absence </b></caption></br>

      <div class="widescroll">
<table class="table table-condensed">
  

 <th>Name</th><th>Days Absent</th><th>Absence Days</th><th>Fill In</th>
        <% @available_employees.each do |f| %>
        <%if f[2]>f[1]%>
<tr class="success">
    <td><%=f[0].name%></td>
    <td><%=f[1]%></td>
    <td><%=(@absence.date.to_date..@absence.date_ended.to_date).count%></td>
    <%=form_for @absence do |h|%>
    <%=h.hidden_field :tempuser, :value => f[2].to_i%>
    <td><%= h.submit "Update Absence Record", class: "btn", disable_with: 'Saving...'  %> </td>
    <%end%> 
         <%end%> 
        <%end%></tr>
       </div>
        </table>



         <%#= link_to "Return", root_path, class: "btn"%></br></br>
<%else%>

<%end%>
  </div>  


  <div class="span11">
<caption><b>The following employees would be available</br> if they were not absent for the entirety</br>of this absence.</b></caption></br>
      <div class="scroll">
<table class="table table-condensed">
<th>Name</th><th>Days Absent</th><th>Absence Days</th>
        <% @available_employees.each do |f| %>
        <%if f[2]<=f[1]%>
<tr class="success">
    <td><%=f[0].name%></td>
    <td><%=f[1]%></td>
    <td><%=(@absence.date.to_date..@absence.date_ended.to_date).count%></td>

         <%end%> 
    
        <%end%></tr>
       </div>
        </table>