<% provide(:title, 'Absence Management') %>


<div class="row">
  <div class="span6 offset2">
     <div style="white-space: nowrap">
        

        <%=@absence.id%></br>
        <%=@absence.reason%></br>
        <%=@absence.status%></br>
        <%=@absence.date%></br>
        <%=@absence.form%></br>
        

  </div>  </div>

</div>
